
<h1>edit this poet</h1>

<%= form_for @poet do |f| %>
	<%= f.label :name %> 
	<%= f.text_field :name %>

	<%= f.label :origin %> 
	<%= f.text_field :origin %>

	<%= f.submit "save this poet" %> 
	
<% end %>

<p><%= link_to "back to the poets", poets_path %> </p>

