<h1>New Poet</h1>

<%= form_for @poet, url: poets_path, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </p>

  <p>
    <%= f.file_field :avatar %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

  <%= link_to "Back to the Poets", poets_path %>
<% end %>